<a href="https://colab.research.google.com/github/da-head0/CS50/blob/BoHye/%EC%95%8C%EA%B3%A0%EB%A6%AC%EC%A6%98%20%EB%AC%B8%EC%A0%9C%ED%92%80%EC%9D%B4/%5B%EC%95%88%EB%8B%A4%ED%98%9C%5D/%EB%AC%B8%EC%A0%9C/%EC%9D%B4%EC%BD%94%ED%85%8C_2_%EA%B7%B8%EB%A6%AC%EB%94%94.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def changes(num):
  fivehun = num//500
  huns = (num-(500*fivehun))//100
  fiftys = (num-(500*fivehun + 100*huns))//50
  tens =  (num-(500*fivehun + 100*huns + 50*fiftys))//10
  return fivehun+huns+fiftys+tens

changes(1260)

6

In [ ]:
changes(800)

4

In [ ]:
# 동빈나 답

n = 1260
count = 0

# 큰 단위의 화폐부터 차례대로 확인
array = [500, 100, 50, 10]

for coin in array:
  count += n // coin # 해당 화폐로 거슬러 줄 수 있는 동전의 개수 세기
  n %= coin #나머지만 남은 돈으로 남김
  # 반복문으로 돌면서 동전 수, 나머지를 계산

print(count)

- 문제의 핵심에 맞추어 깔끔하게 동전 수만 구하고자 하는 문제풀이... 이렇게 간결하게 리스트로 넣어서 할 수 있구나 배웠다.

---

## 1이 될 때까지

In [ ]:
m = 0
count = 0

def toward1(n, k):

  if n%k == 0:
    n = n/k
    global count
    count += 1

    if n != 1:
      continue

  else :
    n = n - 1
    count += 1
    if n != 1:
      continue

  if n == 1:
    return count
  
toward1(17, 4)

SyntaxError: ignored

In [ ]:
# 동빈나 풀이

# n, k를 공백을 기준으로 구분하여 입력받기
n, k = map(int, input().split())

result = 0

while True:
  # n이 k로 나누어 떨어지는 수가 될 때까지 빼기
  
  # n이 k로 나누어 떨어지는 경우의 수 만들기
  target = (n // k) * k
  result + = (n - target) # 주어진 수와 target의 차이를 더함 - 1로 빼주어야 하는 횟수
  n = target # 이제 뺐으니까 n이 target임

  # n이 k보다 작을 때 (더이상 나눌 수 없을 때) 반복문 탈출
  if n < k:
    break

  # K로 나누기
  result +=1
  n //= k 

  # 마지막으로 남은 수에 대하여 1씩 빼기
  result += (n - 1) # 어차피 1은 남을 테니까 애초에 n-1을 뺀 수를 더하면 된다...
  print(result)

- 이런 생각 어떻게 하지.. 코드를 짜는 것보다 생각을 더 많이 해야 하는 듯 싶다.

In [ ]:
# 곱하기 혹은 더하기

maxnum = 0

numlist = [int(i) for i in '02984']
for i in range(len(numlist)):
  if i == 0:
    if numlist[i] !=0 or 1:
      maxnum += numlist[i] * numlist[i+1]
    else:
      maxnum += numlist[i] + numlist[i+1]
  else:
    if i == len(numlist)-1:
      break
    if numlist[i] <2:
      maxnum *= numlist[i+1]
    else:
      maxnum += numlist[i+1]


maxnum

21

- 오답 1:
    if numlist[i] !=0 or 1: 로 접근

    < 2: 로 고치니 답이 숫자가 나오긴 하지만 여전히 오답이다.

In [ ]:
list1 = [int(i) for i in '02984']
list1[0]

0

In [ ]:
list1[1]

2

In [ ]:
[int(i) for i in str(10034)]

[1, 0, 0, 3, 4]

In [ ]:
for i in range(len(str(10034))):
  print(i)

0
1
2
3
4

In [ ]:
# 동빈나 답안

data = input()

# 첫 번째 문자를 숫자로 변경하여 대입
result = int(data[0]) # 원래 문자로 받으니까 [0]으로 해도 되나?

# 첫 번째 숫자는 받았으니 그 다음 숫자부터
for i in range(1, len(data)):
  # 두 수 중 하나라도 0 혹은 1인 경우, 더하기 수행
  num = int(data[i])
  if num <=1 or result <= 1:
    result += num
  else:
    result *= num

print(result)

02984
576

- 처음 숫자는 result로 받고, 계산의 결과를 result에 더해 다음 숫자(num = int(data[i]))와 비교하며 연산 수행.

배울 점 : 변수화. 어떤 수를 변수화할 것인가? 어떤 수를 재활용할 수 있을 것인가?

그리고 어떻게 코드를 간단히 할 수 있을 것인가?

In [ ]:
# 23:37 모험가 길드 풀 차례

In [14]:
n = 10
people = [1,5,2,3,2,2,3,1,2,2] #list(map(int,input().split(" ")))
groupnum=0

while people:
  people.sort() # 정렬해줌
  print(people)
  fearest = max(people) # or people[-1]
  lefts= len(people)-fearest # 2
  if lefts <2:
    groupnum+=1
    break
  for i in range(fearest):
    people.pop()
  groupnum+=1

print(groupnum)

[1, 1, 2, 2, 2, 2, 2, 3, 3, 5]
[1, 1, 2, 2, 2]
[1, 1, 2]
3

- 하지만 공포도 1인 사람은 혼자 여행을 떠날 수 있기 때문에 이 사람들부터 없애야 했다.

In [16]:
n = 10
people = [1,5,2,3,2,2,3,1,2,2] #list(map(int,input().split(" ")))
groupnum=0
count = 0 # 현재 그룹에 포함된 모험가의 수

people.sort() # 정렬해줌

for i in people: # 공포도를 낮은 것부터 하나씩 확인하며
  count +=1 # 현재 그룹에 해당 모험가를 포함시키기
  if count >= i: # 현재 그룹에 포함된 모험가의 수가 현재의 공포도 이상이라면, 그룹 결성
    groupnum += 1 # 총 그룹의 수 증가
    count = 0 # 현재 그룹에 포함된 모험가의 수 초기화

print(groupnum) # 총 그룹의 수 출력

5

In [6]:
list(map(int,input().split(" ")))

2 3 1 2 2

[2, 3, 1, 2, 2]

### 구현 : 시뮬레이션과 완전 탐색

In [22]:
current = [1,1]
size = 5
input = ['R','R','R','U','D','D']
for i in input:
  if i =='L' and current[1] !=1: #맨 왼쪽에 있지 않으면
    current[1] -=1 # 왼쪽으로 이동, [1]이 움직인다는 것에 주의
  if i =='R' and current[1] !=(size): # 맨 오른쪽에 있지 않으면
    current[1] +=1 # 오른쪽으로 이동
  if i =='U' and current[0] !=1: # 맨 위에 있지 않으면
    current[0] -=1 # 위로 이동, [0]이 -1 이동이라는 것에 주의
  if i =='D' and current[0] !=(size):  
    current[0] +=1
    
print(current)

[3, 4]

In [31]:
import itertools

def find3(hour, minute, second):
  if hour in [03,13,23]:
    print(hour,minute,second)
  elif minute in [03,13,23,33,43,53]:
    print(hour,minute,second)
  else second in [03,13,23,33,43,53]:
    print(hour,minute,second)

ex = itertools.permutations(range(0,59),3)
# list(ex)
# for i in list(ex):
#   find3(i)

SyntaxError: ignored

- 문제 제대로 읽기..
- 정수 N이 입력되면 00시 00분 00초부터 N시 59분 59초 중에 3이 포함되는 경우의 수를 구하는 것

In [41]:
def get3time(hour):
  count = 0
  for i in range(hour+1):
    for j in range(0,60):
      for k in range(0,60):
        # 매 시각 안에 '3'이 포함되어 있다면 카운트 증가
        if '3' in str(i) + str(j) + str(k):
          count +=1
  return count

get3time(5)

11475

# 4657 왕실의 나이트 풀 차례
https://youtu.be/2zjoKjt97vQ?list=PLRx0vPvlEmdAghTr5mXQxGpHjWqSz0dgC&t=2817